// Carbon Style Imports
@import 'carbon-components/scss/globals/scss/vendor/@carbon/type/scss/font-family';
@import 'carbon-components/scss/globals/scss/vendor/@carbon/layout/scss/breakpoint';
@import 'carbon-components/scss/globals/scss/typography';
@import 'carbon-components/scss/globals/scss/vars';

// Vendor Imports
@import '../../styles/vendors/normalize';
@import '../../styles/base/g100';
@import '../../styles/base/base';

// Utilities
@import '../../styles/utilities/margins';
@import '../../styles/utilities/paddings';

// Views
@import '../../views/index';

// Components
@import '../../styles/components/forms/form';
@import '../../styles/components/forms/header';
@import '../../components/Validation/validation';
@import '../../components/ValidationTooltip/validation-tooltip';
@import '../Sidebar/sidebar';
@import '../ProgressIndicator/progress-indicator';

.app {
  height: 100%;
  padding-top: 96px;
}

@media (min-width: 1056px) {
  .bx--grid {
    padding-left: $layout-05;
    overflow-x: hidden;

    background: url('https://res.cloudinary.com/mattthebunny/image/upload/a_vflip/c_scale,q_100,w_1851/a_90/v1614621697/3_AI_Ready_03-02_h4btd0.webp');
    background-repeat: no-repeat;
    background-size: 1400px;
    background-position: bottom -175px right -700px;
  }
}

@media (min-width: 1312px) {
  .bx--grid {
    background-position: bottom -175px right -600px;
  }
}

@media (min-width: 1584px) {
  .bx--grid {
    background-position: bottom -175px right -600px;
  }
}

@include carbon--breakpoint-up(max) {
  .bx--grid {
    background-position: bottom -175px right -600px;
  }
}
