// Carbon Style Imports
@import 'carbon-components/scss/globals/scss/vendor/@carbon/type/scss/font-family';
@import 'carbon-components/scss/globals/scss/vendor/@carbon/layout/scss/breakpoint';
@import 'carbon-components/scss/globals/scss/typography';
@import 'carbon-components/scss/globals/scss/vars';

// Vendor Imports
@import '../../styles/vendors/normalize';
@import '../../styles/base/g100';
@import '../../styles/base/base';

// Utilities
@import '../../styles/utilities/margins';
@import '../../styles/utilities/paddings';

// Elements
@import '../../elements/Headings/ProductiveHeading05/productive-heading-05';
@import '../../elements/Headings/ProductiveHeading04/';
@import '../../elements/Headings/ProductiveHeading03/';
@import '../../elements/Labels/BodyShort01/body-short-01';
@import '../../elements/Labels/BodyShort02/body-short-02';
@import '../../elements/Paragraphs/BodyLong01/body-long-01';
@import '../../elements/Paragraphs/BodyLong02/body-long-02';

// Views
@import '../../views/index';

// Components
@import '../../styles/components/forms/form';
@import '../../styles/components/forms/header';
@import '../../components/Validation/validation';
@import '../../components/ValidationTooltip/validation-tooltip';
@import '../Sidebar/sidebar';
@import '../ProgressIndicator/progress-indicator';

.app {
  // margin-top: 96px;
  height: 100%;
}

@media (min-width: 1056px) {
  .app {
    background: url('https://res.cloudinary.com/mattthebunny/image/upload/a_vflip/c_scale,q_100,w_1851/a_90/v1614621697/3_AI_Ready_03-02_h4btd0.webp');
    background-repeat: no-repeat;
    background-size: 1700px;
    background-position: top -100px left 400px;
  }
}

@media (min-width: 1312px) {
  .app {
    background-position: top -100px left 600px;
  }
}

@media (min-width: 1584px) {
  .app {
    background-position: top -100px left 750px;
  }
}

// .app {
//   height: 100vh;
//   background: url('https://res.cloudinary.com/mattthebunny/image/upload/a_vflip/a_90/v1614621697/3_AI_Ready_03-02_h4btd0.png');
// }

// @media (min-width: 672px) {
//   .app {
//     background-position: top -100px left 400px;
//     background-size: contain;
//     background-size: 1750px;
//     object-fit: contain;
//     background-repeat: no-repeat;
//   }
// }

// @media (min-width: 1056px) {
//   .app {
//     background-position: top -100px left 500px;
//     background-size: contain;
//     background-size: 1750px;
//     object-fit: contain;
//     background-repeat: no-repeat;
//   }
// }

// @media (min-width: 1312px) {
//   .app {
//     background-position: top -150px left 700px;
//     object-fit: contain;
//     background-repeat: no-repeat;
//   }
// }

// @media (min-width: 1584px) {
//   .app {
//     // background-position: center left 750px;
//     // background-size: 1750px;
//     background-position: top -150px left 700px;
//   }
// }
