.sidebar {
  display: none;
}

.sidebar__item-heading {
  @include carbon--type-style('productive-heading-03');
}

.sidebar__item-body {
  // color: $ui-05;
  max-width: 300px;
  @include carbon--type-style('body-short-02');
}

@include carbon--breakpoint-up(lg) {
  .sidebar {
    display: block;
    position: fixed;
    right: 125px;
    margin-top: $spacing-07;
  }
}

@include carbon--breakpoint-up(xlg) {
  .sidebar {
    display: block;
    position: fixed;
    right: 250px;
  }
}

@include carbon--breakpoint-up(max) {
  .sidebar {
    position: fixed;
    right: 250px;
  }
}
