.sidebar__item-heading {
  @include carbon--type-style('productive-heading-03');
}

.sidebar__item-body {
  color: $ui-05;
  max-width: 300px;
  @include carbon--type-style('productive-heading-02');
  font-weight: lighter;
}

@include carbon--breakpoint-down(lg) {
  .sidebar {
    margin-top: $spacing-07;
  }
}

@media (max-width: 1056px) {
  .sidebar {
    display: none;
  }
}
