.sidebar__item-heading {
  @include carbon--type-style('productive-heading-04');
}

.sidebar__item-body {
  max-width: 380px;
  @include carbon--type-style('productive-heading-03');
}

@include carbon--breakpoint-down(lg) {
  .sidebar {
    margin-top: $spacing-07;
  }
}

@media (max-width: 1056px) {
  .sidebar {
    display: none;
  }
}
