@import './overrides.scss';

// Needed for inline loading
// of email login
.form__input-container {
  position: relative;
  max-width: 600px;
  width: 100%;
}

.select__input > .bx--select-input__wrapper > select {
  max-width: 100%;
  width: 100%;
}

// Loading icon for email input
.inline-loading {
  position: absolute;
  top: $spacing-04;
  height: 100%;
  justify-content: flex-end;
  width: 50px;
  right: $spacing-03;
}

.form-header__info {
  @include carbon--type-style('body-long-01');
  color: $text-01;
  padding: $spacing-07 0 $spacing-05;
}

.inline-notification-container {
  display: grid;
}

.form--grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: $spacing-05;
  margin-right: $spacing-05;
}

@include carbon--breakpoint-up(md) {
  .form--grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .grid-item-span-all {
    grid-column: 1 / 3;
  }
}

.tile--payment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;

  &:nth-of-type(1) {
    border: 2px solid;
  }
}

.tile__icon {
  width: 72px;
  height: 72px;
}

.unsubscribe {
  @include carbon--type-style('helper-text-01');
  margin-top: $spacing-05;
  margin-bottom: $spacing-05;
}

.payment__terms-conditions {
  @include carbon--type-style('helper-text-01');
}

.payment__terms-link {
  @include carbon--type-style('helper-text-01');
}

.payment__address-heading {
  @include carbon--type-style('productive-heading-03');
  color: $text-01;
}

.password__input-container {
  position: relative;
}

.form__title {
  @include carbon--type-style('productive-heading-03');
}

.form__button {
  max-width: 100%;
  width: 100%;
}
