.form__header {
  @include carbon--type-style('productive-heading-05');
}

.form-header__icon {
  width: 64px;
  fill: $ui-05;
}

.form-header__label-container {
  display: flex;
  align-items: baseline;
}

.form-header__label {
  @include carbon--type-style('body-long-01');
}

.register__link {
  white-space: nowrap;
}
