.form-header__icon {
  width: 56px;
  height: 56px;
  fill: #fff;
}

.form-header__label-container {
  display: flex;
  align-items: baseline;
}

.form-header__label-container--verify {
  margin-top: $spacing-05;
}

.form-header__label--margin-right {
  margin-right: $spacing-03;
  margin-left: 0;
}

.form__label--margin-left {
  margin-left: $spacing-02;
  margin-right: 0;
}

.register__link {
  white-space: nowrap;
}
