.bx--inline-notification {
  margin: $spacing-07 0;
  max-width: 100%;
}

.bx--checkbox-label::before {
  background-color: $ui-05;
}

.bx--select-input {
  width: 100%;
}

.bx--link {
  text-decoration: none;
}

.bx--inline-notification--info {
  background-color: $ui-05;
}

.bx--inline-notification__close-icon > path {
  fill: black;
  stroke: black;
}

.bx--tooltip {
  background-color: $ui-03;
  color: $ui-05;
}

.bx--tooltip .bx--tooltip__caret {
  border-bottom: 0.42969rem solid var(--cds-inverse-02, $interactive-02);
}

// ProgressIndicator progress line
.bx--progress-line,
.bx--progress-step {
  width: 30%;
}

.bx--progress-line {
  width: 100%;
}

// Prevents clipping of text on the progress indicator
.bx--progress-label {
  width: 100%;
  max-width: 100%;
}

// Radio buttons
.bx--fieldset {
  margin: 0;
}

.bx--loading__svg {
  transform: scale(0.5);
}

// password  SHOW/HIDE on hover color
.bx--btn.bx--btn--icon-only.bx--tooltip__trigger svg,
.bx--btn.bx--btn--icon-only.bx--tooltip__trigger:hover svg,
.bx--btn.bx--btn--icon-only.bx--tooltip__trigger:focus svg {
  fill: var(--cds-icon-02, $icon-02);
}

// Reset the default for the radio button inner appearance
.bx--radio-button:checked
  + .bx--radio-button__label
  .bx--radio-button__appearance::before {
  content: '';
  display: inline-block;
  position: relative;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--cds-icon-01, #f4f4f4);
}
