.bx--inline-notification {
  margin: $spacing-07 0;
  max-width: 100%;
}

.bx--checkbox-label::before {
  background-color: $ui-05;
}

.bx--select-input {
  width: 100%;
}

.bx--link {
  text-decoration: none;
}

.bx--inline-notification--info {
  background-color: $ui-05;
}

.bx--inline-notification__close-icon > path {
  fill: black;
  stroke: black;
}

.bx--tooltip {
  background-color: $ui-03;
  color: $ui-05;
}

.bx--tooltip .bx--tooltip__caret {
  border-bottom: 0.42969rem solid var(--cds-inverse-02, $interactive-02);
}

// ProgressIndicator progress line
.bx--progress-line,
.bx--progress-step {
  width: 30%;
}

.bx--progress-line {
  width: 100%;
}

// Radio buttons
.bx--fieldset {
  margin: 0;
}

.bx--loading__svg {
  transform: scale(0.5);
}
