.bx--inline-notification {
  margin: $spacing-07 0;
  max-width: 100%;
}

.bx--checkbox-label::before {
  background-color: white;
}

.bx--select-input {
  width: 100%;
}

.bx--link {
  text-decoration: underline;
}

.bx--inline-notification--info {
  color: white;
  border-color: #4589ff;
}

.bx--inline-notification--info .bx--inline-notification__icon,
.bx--inline-notification--info .bx--toast-notification__icon {
  fill: #4589ff;
}

.bx--loading__svg {
  transform: scale(0.75);
}

.bx--tooltip {
  background-color: #393939;
  color: white;
}

.bx--tooltip .bx--tooltip__caret {
  border-bottom: 0.42969rem solid var(--cds-inverse-02, #393939);
}

// ProgressIndicator progress line
.bx--progress-line,
.bx--progress-step {
  min-width: 170px;
}

// Radio buttons
.bx--fieldset {
  margin: 0;
}
