.password__tooltip {
  position: absolute;
  top: 55px;
  left: 150px;
  height: 1px;
  width: 1px;
  background-color: $ui-01;
}

.password__requirement-container {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: $spacing-05;
  align-items: start;
  margin-right: $spacing-03;

  &:not(:last-child) {
    padding-bottom: 16px;
  }
}

.hasLowerCase--success,
.hasUpperCase--success,
.hasNumber--success,
.hasLength--success,
.hasSpecialCharacters--success {
  color: $inverse-support-02;
}

.hasSpecialCharacters--error {
  color: red;
}
