.progress-indicator {
  display: none;
  width: 90%;
}

@include carbon--breakpoint-up(md) {
  .progress-indicator {
    display: block;
  }
}

@include carbon--breakpoint-up(lg) {
  .progress-indicator {
    display: block;
  }
}
